# Pathway enrichment

* Using `msigdbr` package in R to download GSEA pathway gene sets

In [1]:
#set wd
getwd()
setwd('/scratch/user/s4436039/scdata/Pathway-sets')
getwd()

[1] "/scratch/user/s4436039/Nikita-project"

[1] "/scratch/user/s4436039/scdata/Pathway-sets"

In [3]:
library(msigdbr)

In [4]:
msigdbr_collections()

   gs_cat gs_subcat       num_genesets
1  C1                      299
2  C2     CGP             3384
3  C2     CP                29
4  C2     CP:BIOCARTA      292
5  C2     CP:KEGG          186
6  C2     CP:PID           196
7  C2     CP:REACTOME     1615
8  C2     CP:WIKIPATHWAYS  664
9  C3     MIR:MIRDB       2377
10 C3     MIR:MIR_Legacy   221
11 C3     TFT:GTRD         518
12 C3     TFT:TFT_Legacy   610
13 C4     CGN              427
14 C4     CM               431
15 C5     GO:BP           7658
16 C5     GO:CC           1006
17 C5     GO:MF           1738
18 C5     HPO             5071
19 C6                      189
20 C7     IMMUNESIGDB     4872
21 C7     VAX              347
22 C8                      700
23 H                        50

In [5]:
msigdbr_species()

   species_name
1  Anolis carolinensis
2  Bos taurus
3  Caenorhabditis elegans
4  Canis lupus familiaris
5  Danio rerio
6  Drosophila melanogaster
7  Equus caballus
8  Felis catus
9  Gallus gallus
10 Homo sapiens
11 Macaca mulatta
12 Monodelphis domestica
13 Mus musculus
14 Ornithorhynchus anatinus
15 Pan troglodytes
16 Rattus norvegicus
17 Saccharomyces cerevisiae
18 Schizosaccharomyces pombe 972h-
19 Sus scrofa
20 Xenopus tropicalis
   species_common_name
1  Carolina anole, green anole
2  bovine, cattle, cow, dairy cow, domestic cattle, domestic cow, ox, oxen
3  NA
4  dog, dogs
5  leopard danio, zebra danio, zebra fish, zebrafish
6  fruit fly
7  domestic horse, equine, horse
8  cat, cats, domestic cat
9  bantam, chicken, chickens, Gallus domesticus
10 human
11 rhesus macaque, rhesus macaques, Rhesus monkey, rhesus monkeys
12 gray short-tailed opossum
13 house mouse, mouse
14 duck-billed platypus, duckbill platypus, platypus
15 chimpanzee
16 brown rat, Norway rat, rat, rats
17 baker's yeast, brewer's yeast, S. cerevisiae
18 NA
19 pig, pigs, swine, wild boar
20 tropical clawed frog, western clawed frog

## Pathways of interest: 
* Cat: H --> Hallmark gene sets (well-defined biological states or processes)
* Cat: C2 --> curated gene sets --> KEGG_MEDICUS

In [ ]:
#get KEGG human gene sets
KEGG_sets = msigdbr(species = "human", category = "C2")
head(h_gene_sets)