# importing scRNAseq data from in vitro derived DC2

### I have 4 folders: 

* CB2-B7-B14-18-M1-FT7G-GEX.filtered_feature_bc_matrix
* CB2-B7-B14-18-M1-FT7G15-GEX.filtered_feature_bc_matrix
* CB2-B7-B14-18-OP9-FT7G-GEX.filtered_feature_bc_matrix
* CB2-B7-B14-18-OP9-FT7G15-GEX.filtered_feature_bc_matrix

### These folders represent the conditions: 
* AllDC cytokines on DL1 feeders
* AllDC cytokines + IL-15 on DL1 feeders
* AllDC cytokines on OP9 feeders
* AllDC cytokines + IL-15 on OP9 feeders

### First only interested in condition 1 and 3 (no IL-15)

### Note: each condition was three donor cords pooled (multiplexed by hashing so can be deconvuluted)

In [2]:
#set wd
getwd()
setwd('/scratch/user/s4436039/sc_AllDC/data')
getwd()

[1] "/scratch/user/s4436039/Nikita-project"

[1] "/scratch/user/s4436039/sc_AllDC/data"

In [3]:
#Load packages
library(dplyr)
library(Seurat)
library(patchwork)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Loading required package: SeuratObject

Loading required package: sp


Attaching package: ‘SeuratObject’


The following objects are masked from ‘package:base’:

    intersect, t

In [4]:
#load all datasets
DL1.data <- Read10X(data.dir = "/scratch/user/s4436039/sc_AllDC/data/CB2-B7-B14-18-M1-FT7G-GEX.filtered_feature_bc_matrix")
OP9.data <- Read10X(data.dir = "/scratch/user/s4436039/sc_AllDC/data/CB2-B7-B14-18-OP9-FT7G-GEX.filtered_feature_bc_matrix")

In [6]:
#Add dataset info to colnames
colnames(DL1.data) <- paste0("AllDC_DL1_", colnames(DL1.data))
colnames(OP9.data) <- paste0("AllDC_OP9_", colnames(OP9.data))

In [7]:
head(colnames(DL1.data))
head(colnames(OP9.data))

[1] "AllDC_DL1_AAACCCAAGAAATGGG-1" "AllDC_DL1_AAACCCAAGATTGAGT-1"
[3] "AllDC_DL1_AAACCCAAGCGAGGAG-1" "AllDC_DL1_AAACCCAAGCTAATCC-1"
[5] "AllDC_DL1_AAACCCAAGCTGACTT-1" "AllDC_DL1_AAACCCAAGTATGGCG-1"

[1] "AllDC_OP9_AAACCCAAGAGAGTTT-1" "AllDC_OP9_AAACCCAAGATTACCC-1"
[3] "AllDC_OP9_AAACCCAAGCAGTCTT-1" "AllDC_OP9_AAACCCAAGCGTTCCG-1"
[5] "AllDC_OP9_AAACCCAAGTCGAAGC-1" "AllDC_OP9_AAACCCAAGTGCACAG-1"

In [8]:
#create seperate seurat object for each sample
DL1 <- CreateSeuratObject(counts = DL1.data, project = "AllDC_DL1", min.features = 200)
#add metadata to sample
DL1@meta.data$culture_type <- "AllDC DL1"

#create seperate seurat object for each sample
OP9 <- CreateSeuratObject(counts = OP9.data, project = "AllDC_OP9", min.features = 200)
#add metadata to sample
OP9@meta.data$culture_type <- "AllDC OP9"

In [9]:
head(DL1@meta.data)
head(OP9@meta.data)

                             orig.ident nCount_RNA nFeature_RNA culture_type
AllDC_DL1_AAACCCAAGAAATGGG-1 AllDC       4643      1871         AllDC DL1
AllDC_DL1_AAACCCAAGATTGAGT-1 AllDC       2458      1122         AllDC DL1
AllDC_DL1_AAACCCAAGCGAGGAG-1 AllDC       9698      3014         AllDC DL1
AllDC_DL1_AAACCCAAGCTAATCC-1 AllDC      25688      4973         AllDC DL1
AllDC_DL1_AAACCCAAGCTGACTT-1 AllDC       2125       972         AllDC DL1
AllDC_DL1_AAACCCAAGTATGGCG-1 AllDC       8639      2956         AllDC DL1

                             orig.ident nCount_RNA nFeature_RNA culture_type
AllDC_OP9_AAACCCAAGAGAGTTT-1 AllDC       8321      2472         AllDC OP9
AllDC_OP9_AAACCCAAGATTACCC-1 AllDC       8258      2271         AllDC OP9
AllDC_OP9_AAACCCAAGCAGTCTT-1 AllDC       2276      1142         AllDC OP9
AllDC_OP9_AAACCCAAGCGTTCCG-1 AllDC      26035      5249         AllDC OP9
AllDC_OP9_AAACCCAAGTCGAAGC-1 AllDC      11427      3275         AllDC OP9
AllDC_OP9_AAACCCAAGTGCACAG-1 AllDC       7002      2424         AllDC OP9

In [10]:
#Merge seurat objects

AllDC <- merge(DL1, y = c(OP9), project = "AllDC")

In [11]:
AllDC
head(AllDC@meta.data)
tail(AllDC@meta.data)

An object of class Seurat
36601 features across 81526 samples within 1 assay
Active assay: RNA (36601 features, 0 variable features)
 2 layers present: counts.AllDC_DL1, counts.AllDC_OP9

                             orig.ident nCount_RNA nFeature_RNA culture_type
AllDC_DL1_AAACCCAAGAAATGGG-1 AllDC       4643      1871         AllDC DL1
AllDC_DL1_AAACCCAAGATTGAGT-1 AllDC       2458      1122         AllDC DL1
AllDC_DL1_AAACCCAAGCGAGGAG-1 AllDC       9698      3014         AllDC DL1
AllDC_DL1_AAACCCAAGCTAATCC-1 AllDC      25688      4973         AllDC DL1
AllDC_DL1_AAACCCAAGCTGACTT-1 AllDC       2125       972         AllDC DL1
AllDC_DL1_AAACCCAAGTATGGCG-1 AllDC       8639      2956         AllDC DL1

                             orig.ident nCount_RNA nFeature_RNA culture_type
AllDC_OP9_TTTGTTGTCCAATCCC-1 AllDC      12143      3074         AllDC OP9
AllDC_OP9_TTTGTTGTCCACGTCT-1 AllDC      15457      3573         AllDC OP9
AllDC_OP9_TTTGTTGTCCATACTT-1 AllDC       3965      1527         AllDC OP9
AllDC_OP9_TTTGTTGTCGCACGAC-1 AllDC       7444      2237         AllDC OP9
AllDC_OP9_TTTGTTGTCGGTAAGG-1 AllDC       1841       988         AllDC OP9
AllDC_OP9_TTTGTTGTCTCTCAAT-1 AllDC       7144      2463         AllDC OP9

In [12]:
#Save the object at this point so it can be loaded in without running steps above
saveRDS(AllDC, file = "/scratch/user/s4436039/sc_AllDC/AllDC.RDS")

# Convert to h5ad for analysis in python

In [13]:
library(sceasy)
library(reticulate)

Loading required package: reticulate

In [14]:
AllDC <- JoinLayers(AllDC)

In [15]:
sce <- as.SingleCellExperiment(AllDC)

Warning message:
“Layer ‘data’ is empty”
Warning message:
“Layer ‘scale.data’ is empty”

In [17]:
sceasy::convertFormat(sce, from="sce", to="anndata", outFile="/scratch/user/s4436039/sc_AllDC/AllDC.h5ad")

Warning message in .regularise_df(as.data.frame(SummarizedExperiment::colData(obj)), :
“Dropping single category variables:orig.ident, ident”

AnnData object with n_obs × n_vars = 81526 × 36601
    obs: 'nCount_RNA', 'nFeature_RNA', 'culture_type'
    var: 'name'